@mixin mat-toolbar-custom-theme($theme, $typography) {
  $background: map-get($theme, background);

  .mat-toolbar {
    background-color: map-get($background, card);
    color: map-get($background, text);

    .mat-icon {
      color: map-get($background, icon);
    }
  }

  @include mat-toolbar-typography($typography);
}
