<mat-toolbar color="primary">

    <h3>Data View Library</h3>

    <div fxFlex></div>

    <button mat-button routerLink="/funcionarios">
        Funcionários
    </button>

    <button mat-button routerLink="/clientes">
        Clientes
    </button>

    <button mat-button routerLink="/usuarios">
        Usuários
    </button>

    <button mat-icon-button (click)="toggleTheme()" matTooltip="Trocar tema">
        <mat-icon>{{ (darkTheme$ | async) ? 'flash_off' : 'flash_on'}}</mat-icon>
    </button>

</mat-toolbar>