:host {
  display: flex;
  flex-direction: column;
}

#table-container {
  flex: 1;
  overflow: auto;
}

app-selection-table {
  width: 100%;
  min-width: 600px;
}

img {
  height: 40px;
  border-radius: 50%;
}
