@mixin tds-search-theme($theme) {
  $foreground: map-get($theme, foreground);

  tds-search {
    input {
      background: transparent;
      color: mat-color($foreground, text);
    }

    ::placeholder {
      color: map-get($foreground, text);
    }
  }
}
