@use '~@angular/material' as mat;
@mixin tds-search-theme($theme) {
  $foreground: map-get($theme, foreground);

  tds-search {
    input {
      background: transparent;
      color: mat.get-color-from-palette($foreground, text);
    }

    ::placeholder {
      color: map-get($foreground, text);
    }
  }
}
