<tds-query-view [tabela]="table" titulo="Usuários" elevacao="1" margem="2em">

    <ng-container *ngIf="hasSelection" tds-toolbar-selection>
        <div fxLayout fxLayoutGap="8px" fxLayoutAlign="start center">

            <app-botoes-selecao></app-botoes-selecao>

            <div fxFlex></div>

            <button mat-button disabled>
                {{ selection }} {{ selection === 1 ? 'selecionado' : 'selecionados' }}
            </button>

        </div>
    </ng-container>

    <ng-container tds-toolbar-buttons>
        <button mat-icon-button matTooltip="Adicionar" (click)="onAddClick()">
            <mat-icon>add</mat-icon>
        </button>
    </ng-container>

</tds-query-view>