:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#container {
  flex: 1;
  padding: 1.5em;
}

#button-container {
  height: 56px;
  padding: 8px;
}

button {
  width: 90px;
}
