@mixin default-app-theme() {
  $primary: mat-palette($mat-indigo);
  $accent: mat-palette($mat-pink, A200, A100, A400);
  $theme: mat-light-theme($primary, $accent);

  $typography: get-app-typography();

  @include angular-material-theme($theme);
  @include app-theme($theme, $typography);
}
