@mixin default-app-theme() {
  $primary: mat-palette($mat-indigo);
  $accent: mat-palette($mat-pink, A200, A100, A400);
  $theme: mat-light-theme($primary, $accent);

  // Override for "app-bar"
  $theme: app-bar-override($theme);
  // Override for "background"
  $theme: background-override($theme);

  // Override for "typography"
  $typography: typography-override();

  @include angular-material-theme($theme);
  @include angular-material-typography($typography);

  @include tds-query-view-theme($theme);
  @include tds-query-view-typography($typography);
}
