@mixin dark-app-theme() {
  $primary: mat-palette($mat-pink);
  $accent: mat-palette($mat-blue-grey);
  $theme: mat-dark-theme($primary, $accent);

  // Override for "app-bar"
  $theme: app-bar-override($theme);

  // Override for "typography"
  $typography: typography-override();

  $config: (
    color: $theme,
    typography: $typography,
  );

  @include angular-material-theme($config);
  @include data-view-theme($theme, $typography);
}
