@mixin dark-app-theme() {
  $primary: mat-palette($mat-purple, 300, 100, 500);
  $accent: mat-palette($mat-green, A200, A100, A400);
  $theme: mat-dark-theme($primary, $accent);

  // Override for "app-bar"
  $theme: app-bar-override($theme);
  // Override for "typography"
  $typography: typography-override();

  @include angular-material-theme($theme);
  @include angular-material-typography($typography);

  @include tds-query-view-theme($theme);
  @include tds-query-view-typography($typography);
}
